.display{
    display: flex;
    margin-left: 120px;
    margin-right: 120px; 
}


.cardE{
    height: 200px;
    width: 200px;
    border: solid 1px #f3faeb;
    background-color: #b8ecbb ;
    border-radius: 20px 0px 20px 0px;
    margin-left: 40px;
    margin-top: 30px;
}

.cardE h5{
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    color: black;
}

.cardE .comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardE .comp a{
    height: 35px;
    width: 170px;
    background-color: #ec727c;
    border: solid 2px #ec727c;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 20px;
}