body{
background-color: #fffffc;
}

.principal{
    display: flex;
    align-items: center;
    background-color:#e63946;
    height: 80px;
}

.principal h2{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.principal img{
    width: 60px;
    height: 60px;
}

.principal-conteudo {
    display: flex;
    margin: 60px auto;
    flex: 1;
}

.principal-conteudo h1{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.principal-conteudo p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.principal-conteudo img{
    width: 300px;
    height: 300px;
}

.principal-conteudo a{
    margin-top: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 80;
    padding: 15px;
    background-color: #e63946;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
} 

.principal-conteudo .h6{
    margin-top: 0;
}

.principal-img{
    display: flex;
    flex: 1;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.principal-img a{
    width: 200px;
    margin-top: 50px;
}

.principal-img a + a{
    margin-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ffebff;;
    color: #b7b7a4;
    text-align: end;
  }

  .footer a{
    color: #b7b7a4;
  }

.button-autenticacao{
    margin-top: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 80;
    padding: 15px;
    background-color: #e63946;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center
}

.card-autenticacao{
    margin-top: 100px;
}

.principal-conteudo .textfold{
    margin-top: 80px;
    margin-right: 120px;
    margin-left: 5px;
    text-align: justify;
}

.principal-conteudo .textfold h4{
    font-size: 28px;
}