<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/index.css">
  <link rel="stylesheet" href="/public/styles/relatorio.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

</head>

<body>

  <div id="page_relatorio">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #463f3a;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/src/views/index.html">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="/src/views/cadastros.html">Cadastros</a>
          <a class="nav-link" href="#">Lançamentos</a>
          <a class="nav-link" href="/src/views/perfil.html">Perfil</a>
          <a class="nav-link" href="#">Sair</a>
        </div>
      </div>
    </nav>

    <h1>Relatórios</h1>

    <table class="table table-striped">
      <thead styles="color: #ff686b">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">CPF</th>
          <th scope="col">Email</th>
          <th scope="col">Data de Nascimento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Lorena</td>
          <td>Lopes</td>
          <td>156.154.158-89</td>
          <td>lorena@gmail.com</td>
          <td>21/04/1998</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Lorena</td>
          <td>Lopes</td>
          <td>156.154.158-89</td>
          <td>lorena@gmail.com</td>
          <td>21/04/1998</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Lorena</td>
          <td>Lopes</td>
          <td>156.154.158-89</td>
          <td>lorena@gmail.com</td>
          <td>21/04/1998</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>