<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/Atividades/exercicios/exercicio-01/public/styles/index.css">
    <link rel="stylesheet" href="/Atividades/exercicios/exercicio-01/public/styles/cadastros.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <div id="page-cadastro">
        <header>
            <nav>
                <ul>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/index.html">Home</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/relatorio.html">Relatórios</a></li>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/perfil.html">Perfil</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </nav>
        </header>
        <h1>Cadastro</h1>
        <form>
            <legend>
                <h2>Dados Pessoais</h2>
            </legend>

            <div class="dados">
                <div class="dado">
                    <label for="nome">Nome</label>
                    <input required type="text" name="nome">
                </div>
                <div class="dado">
                    <label for="sobrenome">Sobrenome</label>
                    <input required type="text" name="sobrenome">
                </div>
                <div class="dado">
                    <label for="cpf">CPF</label>
                    <input required type="text" name="cpf">
                </div>
                <div class="dado">
                    <label for="sexo">Sexo</label>
                    <input required type="url" name="img">
                </div>
                <div class="dado">
                    <label for="data">Data de Nascimento</label>
                    <input required type="date" name="data">
                </div>
                <div class="dado">
                    <label for="email">E-mail</label>
                    <input required type="email" name="email">
                </div>
                <div class="dado">
                    <label for="usuario">Usuário</label>
                    <input required type="text" name="usuario" placeholder="@">
                </div>
            </div>

            <legend>
                <h2>Endereço</h2>
            </legend>

            <div class="dados">
                <div class="dado">
                    <label for="endereco">Endereço</label>
                    <input required type="text" name="endereco">
                </div>
                <div class="dado">
                    <label for="numero">Número/Complemento</label>
                    <input required type="text" name="numero">
                </div>
                <div class="dado">
                    <label for="estado">Estado</label>
                    <input required type="text" name="estado">
                </div>
                <div class="dado">
                    <label for="cidade">Cidade</label>
                    <input required type="text" name="cidade">
                </div>
                <div class="dado">
                    <label for="cel">Telefone/Celular</label>
                    <input required type="text" name="cel">
                </div>
            </div>
            <button type="submit"> Enviar </button>
        </form>
    </div>
</body>

</html>