<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

</head>

<body>

    <a href="/src/views/index.html">Home</a></li>
    <a href="#">Lançamentos</a></li>
    <a href="/src/views/relatorio.html">Relatórios</a></li>
    <a href="/src/views/perfil.html">Perfil</a></li>
    <a href="#">Sair</a></li>

    <h1>Cadastro</h1>
    <form>
        <legend>
            <h2>Dados Pessoais</h2>
        </legend>

        <div>
            <div>
                <label for="nome">Nome</label>
                <input required type="text" name="nome">
            </div>
            <div>
                <label for="sobrenome">Sobrenome</label>
                <input required type="text" name="sobrenome">
            </div>
            <div>
                <label for="cpf">CPF</label>
                <input required type="text" name="cpf">
            </div>
            <div>
                <label for="sexo">Sexo</label>
                <input required type="url" name="img">
            </div>
            <div>
                <label for="data">Data de Nascimento</label>
                <input required type="date" name="data">
            </div>
            <div>
                <label for="email">E-mail</label>
                <input required type="email" name="email">
            </div>
            <div>
                <label for="usuario">Usuário</label>
                <input required type="text" name="usuario" placeholder="@">
            </div>
        </div>

        <legend>
            <h2>Endereço</h2>
        </legend>

        <div>
            <div>
                <label for="endereco">Endereço</label>
                <input required type="text" name="endereco">
            </div>
            <div>
                <label for="numero">Número/Complemento</label>
                <input required type="text" name="numero">
            </div>
            <div>
                <label for="estado">Estado</label>
                <input required type="text" name="estado">
            </div>
            <div>
                <label for="cidade">Cidade</label>
                <input required type="text" name="cidade">
            </div>
            <div>
                <label for="cel">Telefone/Celular</label>
                <input required type="text" name="cel">
            </div>
        </div>
        <button type="submit"> Enviar </button>
    </form>
    </div>
</body>

</html>