<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de banco de dados</title>
    <link rel="stylesheet" href="/Atividades/exercicios/exercicio-01/public/styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <div id="page-home">
        <header>
            <nav>
                <ul>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/index.html">Home</a></li>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/cadastros.html">Cadastros</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/relatorio.html">Relatórios</a></li>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/perfil.html">Perfil</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </nav>
        </header>
    </div>
</body>

</html>