<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de banco de dados</title>

</head>

<body>
                    <a href="/src/views/index.html">Home</a></li>
                    <a href="/src/views/cadastros.html">Cadastros</a></li>
                    <a href="#">Lançamentos</a></li>
                    <a href="/src/views/relatorio.html">Relatórios</a></li>
                    <a href="/src/views/perfil.html">Perfil</a></li>
                    <a href="#">Sair</a></li>
</body>

</html>