<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/Atividades/exercicios/exercicio-01/public/styles/index.css">
    <link rel="stylesheet" href="/Atividades/exercicios/exercicio-01/public/styles/perfil.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <div id="page-perfil">
        <header>
            <nav>
                <ul>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/index.html">Home</a></li>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/cadastros.html">Cadastros</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/relatorio.html">Relatórios</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </nav>
        </header>

        <h1>Naomi Kuriyama</h1>

        <div id="divisao-tela">
            <img src="/Atividades/exercicios/exercicio-01/public/images/perfil_picture.jpg" alt="Foto do Perfil">
            <div id="vertical-tela">
                <h2>Usuário:</h2>
                <p>@naomi_</p>
                <h2>Email:</h2>
                <p>naomi@gmail.com</p>
                <h2>Data de criação:</h2>
                <p>21/04/2020</p>
                <h2>Último acesso:</h2>
                <p>24/07/2020</p>
            </div>
        </div>
    </div>

</body>

</html>