<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/Atividades/exercicios/exercicio-01/public/styles/index.css">
    <link rel="stylesheet" href="/Atividades/exercicios/exercicio-01/public/styles/relatorio.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <div id="page-relatorio">
        <header>
            <nav>
                <ul>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/index.html">Home</a></li>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/cadastros.html">Cadastros</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="/Atividades/exercicios/exercicio-01/src/views/perfil.html">Perfil</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </nav>
        </header>

        <h1>Relatórios</h1>
       
        <table>
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>CPF</th>
              <th>Email</th>
              <th>Data de Nascimento</th>
            </tr>
            <tr>
              <td>Lorena</td>
              <td>Lopes</td>
              <td>156.154.158-89</td>
              <td>lorena@gmail.com</td>
              <td>21/04/1998</td>
            </tr>
        </tr>
        <tr>
          <td>Lorena</td>
          <td>Lopes</td>
          <td>156.154.158-89</td>
          <td>lorena@gmail.com</td>
          <td>21/04/1998</td>
        </tr>
    </tr>
    <tr>
      <td>Lorena</td>
      <td>Lopes</td>
      <td>156.154.158-89</td>
      <td>lorena@gmail.com</td>
      <td>21/04/1998</td>
    </tr>
</tr>
<tr>
  <td>Lorena</td>
  <td>Lopes</td>
  <td>156.154.158-89</td>
  <td>lorena@gmail.com</td>
  <td>21/04/1998</td>
</tr>
</tr>
<tr>
  <td>Lorena</td>
  <td>Lopes</td>
  <td>156.154.158-89</td>
  <td>lorena@gmail.com</td>
  <td>21/04/1998</td>
</tr>
</tr>
<tr>
  <td>Lorena</td>
  <td>Lopes</td>
  <td>156.154.158-89</td>
  <td>lorena@gmail.com</td>
  <td>21/04/1998</td>
</tr>
</tr>
<tr>
  <td>Lorena</td>
  <td>Lopes</td>
  <td>156.154.158-89</td>
  <td>lorena@gmail.com</td>
  <td>21/04/1998</td>
</tr>
</tr>
<tr>
  <td>Lorena</td>
  <td>Lopes</td>
  <td>156.154.158-89</td>
  <td>lorena@gmail.com</td>
  <td>21/04/1998</td>
</tr>
</tr>
<tr>
  <td>Lorena</td>
  <td>Lopes</td>
  <td>156.154.158-89</td>
  <td>lorena@gmail.com</td>
  <td>21/04/1998</td>
</tr>
          </table>
    </div>
</body>

</html>