<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>

</head>

<body>

  <a href="/src/views/index.html">Home</a></li>
  <a href="/src/views/cadastros.html">Cadastros</a></li>
  <a href="#">Lançamentos</a></li>
  <a href="/src/views/perfil.html">Perfil</a></li>
  <a href="#">Sair</a></li>


  <h1>Relatórios</h1>

  <table border="1">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>CPF</th>
        <th>Email</th>
        <th>Data de Nascimento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lorena</td>
        <td>Lopes</td>
        <td>156.154.158-89</td>
        <td>lorena@gmail.com</td>
        <td>21/04/1998</td>
      </tr>
      <tr>
        <td>Lorena</td>
        <td>Lopes</td>
        <td>156.154.158-89</td>
        <td>lorena@gmail.com</td>
        <td>21/04/1998</td>
      </tr>
      <tr>
        <td>Lorena</td>
        <td>Lopes</td>
        <td>156.154.158-89</td>
        <td>lorena@gmail.com</td>
        <td>21/04/1998</td>
      </tr>
      <tr>
        <td>Lorena</td>
        <td>Lopes</td>
        <td>156.154.158-89</td>
        <td>lorena@gmail.com</td>
        <td>21/04/1998</td>
      </tr>
      <tr>
        <td>Lorena</td>
        <td>Lopes</td>
        <td>156.154.158-89</td>
        <td>lorena@gmail.com</td>
        <td>21/04/1998</td>
      </tr>
    </tbody>
  </table>

</body>

</html>