#page-cadastro h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #8a817c;
    margin-top: 60px;
}

#page-cadastro h2{
    font-family: 'Roboto', sans-serif;
    color: #463f3a;
    font-size:30px;
}

#page-cadastro label{
    font-family: 'Roboto', sans-serif;
    color: #ff686b
}

#page-cadastro form {
    background-color: #bcb8b1;
    padding: 100px;
    border-radius: 8px;
    margin: 80px auto;
    max-width: 730px;
}

#page-cadastro legend{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

#page-cadastro .dado{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#page-cadastro .dados{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

}

#page-cadastro input, #page-cadastro select{
    background-color: #e5c0b4;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
}

#page-cadastro button{
    width: 530px;
    height: 56px;
    background-color:#463f3a;
    border-radius: 8px;
    color: #f4f3ee;
    font-weight: bold;
    font-size: 20px;
    border: 0;

}
