#form_css{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#id_css{
    margin: 100px 200px 100px 200px;
    border: 2px solid #007bff;
    border-radius: 8px;
    height: 400px;
    background-color: white;
} 

body{
    background-color: #007bff;
}

