<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de banco de dados</title>
    <link rel="stylesheet" href="/public/styles/index.css">

</head>

<body>
    <div id="page_home">
        <header>
            <nav>
                <ul>
                    <li><a href="/src/views/index.html">Home</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="/src/views/relatorio.html">Relatórios</a></li>
                    <li><a href="/src/views/perfil.html">Perfil</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </nav>
        </header>

        <h1>Sistema de banco de dados</h1>

        <h4> Apresentações gerais da aplicação web</h4>
    </div>
</body>

</html>