<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
   
</head>

<body>

    <a href="/src/views/index.html">Home</a></li>
    <a href="/src/views/cadastros.html">Cadastros</a></li>
    <a href="#">Lançamentos</a></li>
    <a href="/src/views/relatorio.html">Relatórios</a></li>
    <a href="#">Sair</a></li>


    <h1>Naomi Kuriyama</h1>

    <div>
        <img src="/public/images/perfil_picture.jpg" alt="Foto do Perfil">
        <div>
            <h2>Usuário:</h2>
            <p>@naomi_</p>
            <h2>Email:</h2>
            <p>naomi@gmail.com</p>
            <h2>Data de criação:</h2>
            <p>21/04/2020</p>
            <h2>Último acesso:</h2>
            <p>24/07/2020</p>
        </div>
    </div>
    </div>

</body>

</html>